.contactPage{
    padding: $padding-small 0;
    .hero, .contactForm, .map  {
        margin: $padding-small;
        display: flex;
        flex-flow: column nowrap;
    }
    .hero{
        &__title{
            font-size: 1.3rem;
            padding-bottom: 1rem;
        }        
        &__text{
            text-align: justify;
        }
    }
   .contactForm{
        &__imageContainer {
            height: 15rem;
            margin-top: $padding-small;
            background: $detail-bg;
            overflow: hidden;
            position: relative;
            border-radius: 18.75rem 18.75rem  6.25rem 18.75rem;
        }
        &__form {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: right;
            border-radius: 50px;
            box-shadow: 0px 0px 20px rgba(35, 39, 64, 0.15);
            padding: $padding-small;
            padding-top: calc($padding-small*2);
            padding-bottom: 0;
            button {
                align-self: center;
            }
            textarea {
                resize: none;
                width: 100%;
            }
        }
        &__inputBox{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: $padding-xs;
            width: 100%;
            label{
                margin-right: $padding-small;
                font-size: .9rem;
            }
            input, select{
                border: none;
                border-bottom: 1px solid $dark-bg;
                width: 100%;
                outline: none;
                line-height: 1.5rem;
                &:active, &:focus {
                    border-bottom: 2px $dark-bg solid;
                }
            }
            select {
                background: none;
                border: none;
                outline: none;
                border-bottom: 1px solid $dark-bg;
                font-family: $font-primary;
            }
            textarea {
                border: 1px solid $dark-bg;                
                outline: none;
                font-family: $font-primary;
                font-size: .9rem;
            }
            &--top{
                margin-top: $padding-small;
               align-items: flex-start;
            }
        }

   }
   .map {
    display: flex;
    flex-flow: column;
    align-items: center;
    &__title{
        font-size: 1.2rem;
        padding-bottom: 1rem;
        align-self: flex-start;
    }
    
    &__contactInfo {
        box-shadow: 0px 0px 20px rgba(35, 39, 64, 0.15);
        margin: $padding-xs 0;
        display: grid;
        align-content: center;
        justify-items: center;
        padding: $padding-small;
        border-radius: 1rem;
        line-height: 1.5rem;
        &--strong {
            font-weight: 800;
        }
    }
    .leaflet-container {
        height: 13rem;
        border-radius: 2rem;
        width: 100%;
    }
   }
}

@media (min-width: $media-small) {
    .contactPage{        
        .contactForm{ 
            &__imageContainer {
                height: 17rem;
            }
        }
        .map {
            .leaflet-container {
                height: 17rem;
            }
        }   
    }
    
}


@media (min-width: $media-medium) {
    .contactPage {
        padding: $padding-medium;
        .contactForm {
            display: flex;
            align-items: center;
            justify-content: center;
            &__form {
                width: 80%;
            }
            &__imageContainer{
                width: 80%;
                height: 22rem;
            }
        }
    }
    .map {
        &__details{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
        }
        &__contactInfo{
            text-align: center;
        }
        .leaflet-container {
            height: 22rem;
        }
    } 
}
// //media
// $media-small: 481px;
// $media-medium: 769px; 
// $media-large: 1025px; 
// $media-xlarge: 1201px; 


@media (min-width: $media-large) {
    .contactPage {
        .contactForm {
            flex-flow: row nowrap;
            gap: 1rem;
        }
        .map {
            display: flex;
            flex-flow: row wrap;
            &__title{
                width: 100%;
            }
            &__content{
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                width: 100%;
            }
            .leaflet-container {
                height: 25rem;
                width: 65%;
                border-radius: 6.25rem 18.75rem 18.75rem  18.75rem;
            }
            &__details{
                display: flex;
                flex-flow: column;
                gap: .1rem;
            }
        } 
    }
    
}

@media (min-width: $media-xlarge) {
    .contactPage{   
        max-width: 1250px;  
        margin: 0 auto;
    }
}