
.homePage {
    padding: $padding-small 0;
    .hero {
        padding-top: $padding-small;
        display: flex;
        flex-flow: column-reverse nowrap;
        &__imageContainer {
            height: 11rem;
            margin: 0 $padding-small;
            background: #D9D9D9;
            border-radius: 18.75rem 18.75rem 18.75rem 6.25rem;
            overflow: hidden;
            position: relative;
        }
        &__messageContainer{
            margin: $padding-small;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
        }
        &__title{
            font-size: 1.3rem;
            font-style: italic;
            padding-bottom: 1rem;
        }
        &__msg{
            font-size: 1rem;
            line-height: 1.1rem;
            text-align: left;
            padding-bottom: 1rem;
        }
        &__socials {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: .7rem;
        }
    }
    .teams{
        &__title{
            font-size: 1.3rem;
            font-style: italic;
            margin-left: $padding-small;
        }
        &__carousel{
            cursor: grab;
            overflow: hidden;
            .inner-carousel{
                margin: $padding-small;
                display: flex;
                gap: 1.25rem;              
            }
        }
    }
}

@media (min-width: $media-small) {
    .homePage{        
        .hero{ 
            &__imageContainer {
                height: 17rem
            }
            &__socials {
                gap: 1rem;
            }
        }
    }
}
@media (min-width: $media-medium) {
    .homePage{        
        .hero{  
            flex-flow: row;
            justify-content: space-between;          
            &__messageContainer{
                width: 30%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: flex-start;
            }
            &__imageContainer {
                width: 70%;
                background: #D9D9D9;
                border-radius: 300px 300px 300px 100px;
                overflow: hidden;
            }
        }
    }
}
@media (min-width: $media-large) {
    .homePage{   
        .hero{ 
            align-self: center;  
            &__imageContainer {
               height: 22rem;
               width: 70%;
               margin: 0 $padding-medium;
               
            }
            &__messageContainer{
                width: 30%;
                margin: 0 $padding-medium;
            }
            &__title{
                font-size: 1.5rem;
            }
            &__socials {
                gap: 1rem;
            }
        }
        .teams{
            margin-bottom: $padding-medium;
            &__title{
                margin: 0 $padding-medium;
                padding: $padding-small 0;
                font-size: 1.5rem;
            }
            .inner-carousel{
                margin: 0 $padding-medium;
                gap: 3rem;
            }
        }
    }
}
@media (min-width: $media-xlarge) {
    .homePage{   
        max-width: 1250px;  
        margin: 0 auto;
        .hero{ 
            align-self: center;  
            &__imageContainer {
               height: 22rem;
               width: 50%;
            }
            &__title{
                font-size: 1.5rem;
            }
            &__socials {
                gap: 1rem;
            }
        }
    }
}