// .homePage{
//     
//     .hero{
//         
//         flex-flow: row;
//         justify-content: space-between;
//         &__messageContainer{
//             width: 30%;
//             display: flex;
//             flex-flow: column nowrap;
//             justify-content: center;
//             align-items: flex-start;
//         }
//         &__imageContainer {
//             width: 50%;
//             background: #D9D9D9;
//             border-radius: 300px 300px 300px 100px;
//             overflow: hidden;
//         }
//         &__title{
//             font-size: 2rem;
//             font-style: italic;
//             padding-bottom: 1rem;
//         }
//         &__msg{
//             font-size: 1.5rem;
//             line-height: 1.7rem;
//             text-align: left;
//             padding-bottom: 1rem;
//         }
//         &__socials {
//             display: flex;
//             flex-flow: row nowrap;
//             align-items: center;
//             gap: .7rem;
//         }
//     }
// }
.homePage {
    padding-top: 1rem;
    .hero {
        display: flex;
        flex-flow: column-reverse nowrap;
        &__imageContainer {
            height: 11rem;
            margin: 0 $padding-small;
            background: #D9D9D9;
            border-radius: 18.75rem 18.75rem 18.75rem 6.25rem;
            overflow: hidden;
            img{
                object-fit:contain;
                object-position: left;
            }
        }
        &__messageContainer{
            margin: $padding-small;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
        }
        &__title{
            font-size: 1.3rem;
            font-style: italic;
            padding-bottom: 1rem;
        }
        &__msg{
            font-size: 1rem;
            line-height: 1.1rem;
            text-align: left;
            padding-bottom: 1rem;
        }
        &__socials {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: .7rem;
        }
    }
    .teams{
        &__title{
            font-size: 1.3rem;
            font-style: italic;
            margin-left: $padding-small;
        }
        &__carousel{
            cursor: grab;
            overflow: hidden;
            .inner-carousel{
                display: flex;              
            }
        }
    }
}

