.teamPage {
    padding-top: 1rem;
    .hero {
        padding-top: $padding-small;
        display: flex;
        flex-flow: column nowrap;
        &-imageContainer {
            height: 11rem;
            margin: 0 $padding-small;
            background: #D9D9D9;
            border-radius: 18.75rem 18.75rem 18.75rem 6.25rem;
            overflow: hidden;
            position: relative;
        }
        &-details{
            margin: $padding-small;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            &__title{
                font-size: 1.3rem;
                font-style: italic;
                padding-bottom: 1rem;
            }
            &__info{
                list-style: none;
                text-decoration: none;
                li {
                    font-size: 1rem;
                    padding-bottom: $padding-xs;
                }
            }
        }
    }
    .desc{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        text-align: justify;
        margin: 0 $padding-small;
        margin-top: $padding-small;
        line-height: 1.1rem;
        gap: 1rem;
    }
}


@media (min-width: $media-small) {
    .teamPage{        
        .hero{ 
            &-imageContainer {
                height: 17rem
            }
        }
    }
}

@media (min-width: $media-medium) {
    .teamPage{        
        .hero{  
            flex-flow: row;
            justify-content: space-between;          
            &-details{
                width: 40%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: flex-start;
            }
            &-imageContainer {
                width: 60%;
                background: #D9D9D9;
                border-radius: 300px 300px 300px 100px;
                overflow: hidden;
            }
        }
    }
}


@media (min-width: $media-large) {
    .teamPage{   
        .hero{ 
            align-self: center;  
            &-imageContainer {
               height: 22rem;
               width: 70%;
               margin: 0 $padding-medium;
               
            }
            &-details{
                width: 30%;
                margin: 0 $padding-medium;
            }
        }
        .desc{
            margin: $padding-medium;
        }
    }
}

@media (min-width: $media-xlarge) {
    .teamPage{   
        max-width: 1250px;  
        margin: 0 auto;
        .hero{ 
            align-self: center;  
            &-imageContainer {
               height: 22rem;
               width: 50%;
            }
        }
    }
}